* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
     background-image: url(./assets/ThemeDark.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top center;
    }

    body * {
        font-family: 'Inter', sans-serif;
        color: white;
    }

#conteiner {
    width: 480px;
   padding: 50px;
    margin: 56px auto 0px;
}

    #profile {
        text-align: center;
    }

#profile img {
    justify-content: center;
    width: 140px;
    padding: 8px;
    
}

#profile p {
    font-size: 500;
    line-height: 40px;
    padding: 8px;
}

 #switch button{
    height: 24px;
    width: 24px;
    background: rgb(107, 101, 101) url(./assets/moon-stars.svg) no-repeat center;
    border-radius: 50%;
    border: 0;
}

#switch span { 
    display: block;
    width: 48px;
    height: 24px;
    background: rgb(42, 41, 40);
    border: solid rgb(122, 122, 122);
    height: 24px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
}



ul {
    
    
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 15px 0px;
}

ul li a{
    padding: 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60px;   

   background-color: rgba(0, 0, 0, 0.491);
   border: 1px solid rgb(122, 122, 122);
   border-radius: 8px;
   backdrop-filter: blur(4px);
   text-decoration: none;
   font-weight: 500;
}

ul li a:hover {
    background: rgba(0, 0, 0, 0.895);
    border: 1px solid rgb(255, 255, 255);
    transition: background 0.3s;
}

#social-links {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    font-size: 24px;
    gap: 16px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    transition: 0.3s;
    border-radius: 50%;

}
#social-links a:hover {
    background-color: rgb(3, 2, 2);
}

 footer {
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
 }

:root {
    --bg-button: rgba(0, 0, 0, 0.491);
    --bg-border: rgb(255, 255, 255);
}

.claro {
    --bg-button: rgba(63, 57, 57, 0.438);
    --bg-border: rgb(0, 0, 0);
}