* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
     background-image: var(--bg-modo);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: top center;
    }

    body * {
        font-family: 'Inter', sans-serif;
        color: var(--text-color);
    }

#conteiner {
    width: 480px;
   padding: 50px;
    margin: 56px auto 0px;
}

    #profile {
        text-align: center;
    }

    :root {
        --img-modo: url(./assets/Ellipse.png);
        --text-color:rgb(255, 255, 255);
        --bg-modo:    url(./assets/ThemeDark.jpg);
        --br-modo:  rgba(255, 255, 255, 0.56);
        --bg-fund:  rgba(88, 83, 83, 0.78);
        --bg-hover: rgba(58, 56, 56, 0.533);
        --br-hover: rgba(233, 217, 217, 0.993); 
        --sc-links: rgba(88, 83, 83, 0.78);
    }

    .claro {
        --img-modo: url(./assets/terno.jpg);
        --text-color: rgb(0, 0, 0);
        --bg-modo:    url(./assets/Themeclaro.jpg);
        --br-modo:  rgba(0, 0, 0, 0.644);  
        --br-hover: rgb(0, 0, 0); 
        --bg-fund: rgb(145, 130, 130);
        --bg-hover: rgba(86, 84, 84, 0.843);
        --sc-links: rgba(86, 84, 84, 0.843);
    }

#profile img {
    justify-content: center;
    width: 140px;
    padding: 8px;
    
}

#profile p {
    font-size: 500;
    line-height: 40px;
    padding: 8px;
}

#switch {    
position: relative;
width: 55px;
margin: 8px auto;
}

 #switch button{
    height: 30px;
    width: 27px;
    background: rgb(107, 101, 101) url(./assets/moon-stars.svg) no-repeat center;
    border-radius: 50%;
    border: 0;

    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 1;
    transform: translateY(-50%);
}

#switch span { 
    display: block;
    width: 55px;
    height: 26px;
    background: var(--bg-fund);
    border: solid var(--bg-modo);
    height: 24px;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
}



ul {
    
    
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 15px 0px;
}

ul li a{
    padding: 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60px;   

   background: var(--bg-fund);
   border: 2px solid var(--br-modo);
   border-radius: 8px;
   backdrop-filter: blur(4px);
   text-decoration: none;
   font-weight: 500;
}

ul li a:hover {
    background: var(--bg-hover);
    border: 2px solid var(--br-hover);
    transition: background 0.3s;
}

#social-links {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    font-size: 24px;
    gap: 16px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    transition: 0.3s;
    border-radius: 50%;

}
#social-links a:hover {
    background-color: var(--sc-links);
}

 footer {
    padding: 15px 0px;
    text-align: center;
    font-size: 16px;
 }